
/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.titulo-pagina{
     background-color: rgb(70, 187, 187);
 }
.cointenerPrincipal{
    background-color: white;
    padding: 10px;
 }

 .cointenerPrincipal .promocionOff{
    text-align: center;
 }
 .cointenerPrincipal .productosCatalogo{
    text-align: center;
 }
 
  .iconos ul li{
    margin: 10px;
    padding: 50px;
    display: inline-block;
 }
  .primerOferta{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.segundaOferta{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.tercerOferta{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    
}

.productosCatalogo  .primerProducto{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.productosCatalogo .segundoProducto{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.productosCatalogo .tercerProducto{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.productosCatalogo .cuartoProducto{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

/*footer*/
.piePagina .referenciaFinal{
    background-color: white;
}
.referenciaFinal li{
    background-color: rgb(49, 209, 209);
    display: inline-block;
    padding: 50px;
    margin: 20px;
}
h6{
    background-color:whitesmoke;
   padding: 25px;
}

/*imagenes Baby booys*/

.remeraAzul{
    height: 300px;
    width: 300px;
}
.zapatillaNiño{
    height: 300px;
    width: 300px;
}

/*imagenes Baby girl*/
.camperaRoja{
    height: 300px;
    width: 300px;
}
.sacoGris{
    height: 300px;
    width: 300px;
}