
/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.titulo-pagina{
     background-color: rgb(70, 187, 187);
 }
.slide{
    margin-top: 10px;
}
.slide img{
    height: 65vh;
}

  .iconos ul li{
    margin: 10px;
    padding: 50px;
    display: inline-block;
 }
 /*nav*/
.nav-direction{
    background-color: white;
    padding: 5px 20px 5px 20px;
    margin: 5px;
    border-radius: 5px;
    border-color: rgb(114, 163, 163);
}
.nav-direction:hover{
    background-color: rgb(28, 212, 212);
    
}
.nav-button{
    border-color: rgb(114, 163, 163);
}

/*imagenes Baby booys*/

.remeraAzul{
    height: 300px;
    width: 300px;
}
.zapatillaNiño{
    height: 300px;
    width: 300px;
}

/*imagenes Baby girl*/
.camperaRoja{
    height: 300px;
    width: 300px;
}
.sacoGris{
    height: 300px;
    width: 300px;
}


    

/*body*/
.container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.button-beba{
    padding:5px 20px 5px 20px;
    margin: 5px;
    background-color: rgb(121, 180, 180);
    border-radius: 5px;
    font-size: large;
    border-color: rgb(114, 163, 163);
}
.button-beba:hover{
    background-color: rgb(105, 212, 212);
}

.button-beba a{
    text-decoration: none;
    color: white;
}

.referenciaFinal{
    padding: 10px;
    justify-content: space-around;
   
}
/*footer*/
footer{
    margin-top: 10px;
    background-color: rgb(210, 214, 218);
    align-items: center;
}

.container-card{
    margin: 5px;
    padding:5px 20px 5px 20px ;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
