/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//import
@import "utilidades/variables";
@import "utilidades/mixin";
@import "utilidades/mapas";
//nav

    .titulo-pagina {
    background-color: $color-titulo;
    }
 
   .lista{
        .iconos{ 
             ul{
                 li {
                       margin: 10px;
                       padding: 50px;
                       display: inline-block;
                   }
               }
                        }
    }   
.nav-direction {
    background-color: $color-nav;
    padding: 5px 20px 5px 20px;
    margin: 5px;
    border-radius: 5px;
    border-color: rgb(114, 163, 163);
}
.nav-direction:hover {
    background-color: $color-nav-hover;
}
.nav-button {
    border-color: $color-nav-button;
}


/*body index*/
   .slide {
       margin-top: 10px;
   }
   .slide img {
       height: 65vh;
   }
.container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.button-beba {
    padding: 5px 20px 5px 20px;
    margin: 5px;
    background-color: rgb(121, 180, 180);
    border-radius: 5px;
    font-size: large;
    border-color: $color-nav-button;
}
.button-beba:hover {
    background-color: rgb(105, 212, 212);
    box-shadow: 1px 1px 2px black;
    transform: scale(0.9);
}
.button-beba a {
    text-decoration: none;
    color: $color-nav;
}
/*footer*/
.piePagina {
    margin-top: 10px;
    background-color: $color-footer;
}
.referenciaFinal {
    padding: 10px;
    justify-content: space-around;
}
.container-card {
    margin: 10px;
    padding: 5px 20px 5px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
footer{
    @each $frases, $color in $colores-redes {
        .#{$frases}{
            color: $color
        }
    }
}
/*media query index */
@media (min-width:360px) and (max-width:578px) {
    .slide img {
        height: 40vh;
    }
    .container .buttons {
        margin-top: 10px;
        @include flex;
    }
    .container-card .card {
        margin: 5px;
    }
    .referenciaFinal {
        padding: 10px;
        flex-direction: column;
        text-align: center;
    }
}
@media (min-width:578px) and (max-width:920px) {
    .slide img {
        height: 50vh;
    }
    .referenciaFinal {
        margin: 10px;
    }
    .container-card .card {
        margin: 8px;
    }
}
@media (min-width:920px) and (max-width:1216px) {
    .container-card .card {
        margin: 8px;
    }
}
//baby girl
.vestido-fantasia {
    margin: 10px;
    border-radius: 5px;
    @include medidas(300px, 300px);
}
.vestido-blanco {
    margin: 10px;
    padding: 5px;
    @include medidas(300px, 300px);
    border-radius: 5px;
}
.fantasia-bg {
    margin: 5px;
    padding: 10px;
}
.contain {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr auto;
    grid-template-rows: 0.2fr 4fr 4fr 1fr;

    grid-template-areas:
        "header-bg header-bg header-bg header-bg"
        "main-bg main-bg main-bg section-bg"
        "main-bg main-bg main-bg section-bg"
        "footer-bg footer-bg footer-bg footer-bg";

    .header-bg {
            grid-area: header-bg;
            display: inline-block;
        }
    
        .main-bg {
            font-size: 20px;
            flex-wrap: wrap;
            text-align: center;
            grid-area: main-bg;
        }
    
        .piePagina {
            grid-area: footer-bg;
            background-color: $color-footer;
        }
                .section-bg {
                    grid-area: section-bg;
                }
}

 .descripcion-producto {
    display: flex;
    flex-direction: row;
}
.main-bg{
 .descripcion-producto p {
    margin-top: 10px;
    padding: 10px;
    }
}
.main-bg .img {
    border-radius: 5px;
}
.titulo-vestido {
    margin-top: 20px;
}

.section-bg .descripcion-producto {
   @include flex;
}
/*media query baby girl */
@media (min-width:360px) and (max-width:578px) {
    .contain {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 0.2fr 4fr;

        grid-template-areas:
            "header-bg header-bg "
            "main-bg main-bg"
            "section-bg section-bg"
            "footer-bg footer-bg";
    }
    .menu-hijo {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 5px;

    }
    .main-bg .descripcion-producto {
        display: block;

    }
    .main-bg .descripcion-producto p {
        margin-top: 10px;
        padding: 15px;
        margin: 5px;
    }
    .piePagina {
        display: flex;
        margin: 10px;
        padding: 10px;
    }
    .section-bg{
        .descripcion-producto {
            display: block;
        }
     }
    .parrafo {
        margin-top: 10px;
        padding: 15px;
        margin: 5px;
    }
}
@media (min-width:578px) and (max-width:920px) {
    .contain {

        grid-template-columns: 1fr 4fr auto;
        grid-template-rows: 0.2fr 4fr auto;

        grid-template-areas:
            "header-bg header-bg header-bg"
            "main-bg main-bg  section-bg"
            "main-bg main-bg  section-bg"
            "footer-bg footer-bg footer-bg";
    }
    .main-bg .descripcion-producto {
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width:920px) and (max-width:1216px) {
    .contain {
        display: grid;
        grid-template-columns: 1fr 4fr 4fr auto;
        grid-template-rows: 0.2fr 4fr 4fr 1fr;

        grid-template-areas:
            "header-bg header-bg header-bg header-bg"
            "main-bg main-bg main-bg section-bg"
            "main-bg main-bg main-bg section-bg"
            "footer-bg footer-bg footer-bg footer-bg";
    }
    .main-bg .descripcion-producto {
        margin-top: 15px;
    }
    .titulo-vestido {
        margin: 5px;
        margin-top: 5px;
    }
    .parrafo {
        margin: 10px;
        padding: 10px;
        margin-top: 5px;
    }
}
//baby boy
.conjunto-niño {
@include medidas(300px, 300px);
}
.conjunto-bohemio {
 @include medidas(300px, 300px);
}
.contain-bb {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    grid-template-rows: 0.2fr 2.5fr 2.5fr 1fr;
    grid-template-areas:
        "header-bb header-bb header-bb header-bb"
        "main-bb main-bb section-bb section-bb"
        "main-bb main-bb section-bb section-bb"
        "footer-bb footer-bb footer-bb footer-bb";
.header-bb {
    width: 100%;
    grid-area: header-bb;
    align-items: center;
    justify-content: space-around;
}
.main-bb {
    grid-area: main-bb;
}
.section-bb {
    grid-area: section-bb;
}
.footer-bb {
    grid-area: footer-bb;
    background-color: $color-footer;
}
}
.container-1 {
    text-align: center;
    border: 2px solid black;
    background-color: $color-footer;
    margin-right: 2px;
        .texto-bb {
            font-size: 30px;
            }
         img {
            border-radius: 5px;
            margin: 10px;
            align-items: center;
        }
       
                   
}
.section-bb {
    text-align: center;
    border: 2px solid black;
    background-color: $color-footer;
    img {
        border-radius: 5px;
        margin: 10px;
        align-items: center;
        justify-content: center;
        }
  .texto-bb {
      font-size: 20px;
      margin: 5px;
  }
}
/*media query  pagina baby boy */
@media (min-width:360px) and (max-width:578px) {
    .contain-bb {
        display: grid;
        flex-direction: row;
        grid-template-columns: 2fr auto;
        grid-template-rows: 2fr auto;

        grid-template-areas:
            "header-bb header-bb"
            "main-bb main-bb"
            "section-bb section-bb "
            "footer-bb footer-bb";
    }
}

@media (min-width:578px) and (max-width:920px) {
    .contain-bb {
        display: grid;
        grid-template-columns: 2fr auto auto;
        grid-template-rows: 2fr auto auto;

        grid-template-areas:
            "header-bb header-bb header-bb"
            "main-bb main-bb main-bb"
            "section-bb section-bb section-bb"
            "footer-bb footer-bb footer-bb";
    }
}

@media (min-width:920px) and (max-width:1216px) {
    .contain-bb {
        display: grid;
        flex-direction: row;
        grid-template-columns: 2fr auto 2fr auto;
        grid-template-rows: 0.2fr auto 2fr auto;

        grid-template-areas:
            "header-bb header-bb header-bb header-bb"
                "main-bb main-bb section-bb section-bb"
                "main-bb main-bb section-bb section-bb"
                "footer-bb footer-bb footer-bb footer-bb";
}
}


//Contacto - nosotros
.tittleContacto{
    margin: 10px;
    font-size: 25px;
}
.subTittle{
margin-left: 3px;
}
.containerForm{
    display: flex;
    justify-content: center;
}
.containerIframe{
    @include display;
}

.containerVideo{
   @include display;
    padding: 5px;
    
}

.containerParrafo{
    display: flex;
    margin: 5px;
    justify-content: flex-start;
    .p{
        font-size: 25px;
        font-style: italic;
    }
}

.enlace{
    font-size: 20px;
    margin: 5px;
    text-decoration: none;
}