$colores-redes:(
    envios: rgb(129, 45, 45),

    cuotas: rgb(47, 100, 100),

    pick-up: rgb(122, 95, 45),
    
    whatsapp: rgb(34, 146, 34),
    
    instagram:(
        rgb(209, 41, 41)
        
    ),
    facebook:(
        rgb(33, 33, 126)
    ),
);